.contacts {
  margin-top: 100px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 60px;
  }
  h1, h2 {
    @media screen and (max-width: 480px) {
      font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }
  }
}

.contacts-flex {
display: flex;
@media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.map {
  margin-top: 25px;
}

iframe {
  border: 1px solid #B0A9F5;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    height: 350px;
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    height: 208px;
    width: 100%  ;
  }
}

.contacts-info {
  margin-left: 50px;
  @media screen and (max-width: 768px) {
    margin: 0;
  }
  @media screen and (max-width: 480px) {
      p {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
        }
      
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }
  }
  h2 {
    margin-top: 60px;
    color: #7064FB;;
    &:first-child {
      margin-top: 25px;
    }
    @media screen and (max-width: 480px) {
      margin-top: 40px;
      &:first-child {
        margin-top: 40px;
      }
    }
  }
}

// Адрес

.contacts-adres {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}

// Контакты

.contacts-tel {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}

.contacts-mail {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}


// Соц сети

.contacts-vk {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}

.contacts-telegram {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.contacts-odno {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}