header {
  margin-top: 30px;
}

@media screen and (max-width: 769px) {
  header {
    margin-top: 24px;
  }
}

.wrapper {
  position: relative;
}


.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 769px) {
  .logo {
    height: 25px;
    width: 196px;
    img {
      width: 100%;
    }
  }
}

// Кнопка с желтым фоном

.button {
  background: #EEF5A9;;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);    
  border-radius: 200px;
  display: inline-block;
  padding: 14px 28px 13px 28px;
  color: #000;
  transition: all .5s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #796CF9;
    transition: all .5s;
    border-radius: 200px;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

@media screen and (max-width: 769px) {
  .button-record {
    display: none;
  }
}

// Поиск
.search-relative {
  position: relative;
}

.search {
  z-index: 10;
  input{
    background: #FFFFFF;
    border-radius: 200px;
    padding: 15px 25px 12px ;
    border: none;
    width: 340px;
    height: 50px;
  }
  svg {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 769px) {
  .search {

  }
}

// Кнопка переключения языка
.lang {
  z-index: 10;
  a {
  background: #FFFFFF;
  border-radius: 100px;
  padding: 14px 12px 13px 13px;
  color: #796CF9;
  
  }
}

// Кнопка Бургер меню

.ham6 {
  background: #FFFFFF;
  border-radius: 100px;
  cursor: pointer;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
}

.ham6 path {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #796CF9;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

// Выпадающее меню

.menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.menubox {
  position: absolute;
  display: block;
  visibility: hidden;
  left: 0;
  top: -100%;
  width: 100%;
  height: auto;
  height: auto;
  margin: 0;
  padding: 80px 70px;
  list-style: none;
  background-color: #F6F3F8;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .10s;
  transform: translateY(-100%);
  transition: all .3s ease-in-out;
}

.menu-item {
  margin-top: 30px;
  display: block;
  color: #333;
  text-decoration: none;
  transition-duration: .10s;
  transform: translateY(0px);
}

#menu-toggle {
  opacity: 0;
  position: absolute;
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  top: -30px;
  transform: translateY(0px);
}

// Контент Меню
.menubox {
  border-radius: 0px 0px 50px 50px;
  z-index: 2;
}

.menu-btn {
  z-index: 3;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}

.menu-content-left_right  {
  li {
    a:hover {
      color: #7064FB;
    }
  }
  width: 100%;
  padding: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 420px;
  max-height: 522px;
  overflow: auto;
}

.menu-content-pages {
  a:first-child {
    .menu-content-middle {
      margin-top: 0;
    }
  }
  height: 100%;
}

.menu-content-middle {
  &:hover {
    background: #B0A9F5;
    color: #fff;
  }
  padding: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  min-width: 420px;
  min-height: 160px;
  width: 100%;
  margin-top: 21px;
} 

// АККАРДИОН

.dropdownlink {
  cursor: pointer;
  display: flex;
  position: relative;
  transition: all 0.4s ease-out;
  svg {
    margin-top: 41px;
    margin-left: 24px;
  }
}

.submenuItems {
  display: none;
  li{
    display: block;
    color: #494949;
    transition: all 0.4s ease-out;
    margin-top: 20px;
  }
  li:first-child {
    margin-top: 24px;
  }
}

.menu-item::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  content: "";
  transition: transform 0.2s ease-out;
  color: #000;
}

.menu-item_show .accordion__header::after,
.menu-item_slidedown .accordion__header::after {
  transform: rotate(-180deg);
}

// КОНЕЦ HEADER





// НАЧАЛО BODY

.banner {
  display: flex;
  margin-top: 30px;
}

// Левый баннер

.top-banner {
  h4 {
      margin: 30px 40px;
  }
  position: relative;
  border: 1px solid #B0A9F5;
  border-radius: 20px;
  min-width: 530px;
  min-height: 530px;
  width: 100%;
  background: linear-gradient(0deg, rgba(20, 0, 255, 0.3) 37.65%, rgba(20, 0, 255, 0.15) 71.94%, rgba(20, 0, 255, 0) 100%), #F8F8F8;
}

.top-banner-consultation {
  position: absolute;
  bottom: 40px;
  left: 40px;
  h2 {
    color: #FFFFFF;
  }
  a {
    margin-top: 20px;
  }
}

.bottom-banner {
  h4 {
    color: #FFFFFF;
  }
    position: relative;
    margin-top: 20px;
    background: #B0A9F5;
    border: 1px solid #B0A9F5;
    border-radius: 20px;
    max-width: 530px;
    min-height: 300px;
    width: 100%;
}

.bottom-banner-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}

.bottom-banner-article {
  position: absolute;
  bottom: 40px;
  left: 40px;
  h2 {
    color: #FFFFFF;
    width: 400px;
  }
  a {
    margin-top: 20px;
  }
}

// Правый баннер

.right-banner {
  position: relative;
  max-height: 850px;
  width: 100%;
  border: 1px solid #B0A9F5;
  background: linear-gradient(0deg, rgba(20, 0, 255, 0.3) 37.65%, rgba(20, 0, 255, 0.15) 71.94%, rgba(20, 0, 255, 0) 100%), #F8F8F8;
  border-radius: 20px;
  margin-left: 20px;
}

.banner-doctor-img img {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 53px;
}

.banner-doctor-bottom {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #FFFFFF;
}

.banner-doctor-special {
  margin-top: 10px;
}



// РАЗДЕЛ УСЛУГИ 

.service {
  margin-top: 100px;
  text-align: center;
}

.service-catalog{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 20px;
}

.service-catalog a {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  svg {
    margin-top: 100px;
  }
  h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #B0A9F5;
    svg {
      fill: #FFFFFF;
    }
    h3 {
      color: #FFFFFF;
    }
  }
}


// РАЗДЕЛ О ДОКТОРЕ
.doctor {
  margin-top: 100px;
}

.doctor-text h2 {
  text-align: center;
}

.doctor-img {
  background: #FFFFFF;
  border-radius: 20px;
  min-width: 530px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  img {
    margin-top: 30px;
  }
}

.doctor-block {
  display: flex;
  margin-top: 50px;
  .doctor-main {
    margin-left: 40px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.doctor-main {
  h1 {
    margin-bottom: 16px;
  }
  h2 {
    margin-bottom: 30px;
    color: #7064FB;
  }
  h3{
    line-height: 160%;
    &:after {
      content: "";
      display: block;
      width: 730px;
      height: 5px;
      background: #B0A9F5;
      border-radius: 15px;
      margin-top: 30px;
    }
  }
}


// РАЗДЕЛ ГАЛАРЕЯ

.gallery {
  margin-top: 100px;
  h2 {
    text-align: center;
  }
}

.gallery-img {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  img {
    object-fit: cover;
    max-height: 400px;
    height: 100%;
    max-width: 420px;
    width: 100%;
    border-radius: 20px;
    background: url(../img/nophoto.png);
  }
}

.gallery-middle {
  -webkit-transform: scaleY(1.05);
  -ms-transform: scaleY(1.05);
  transform: scaleY(1.05);
}

// Галарея кнопка 

.gallery-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}




// РАЗДЕЛ МОИ ПРЕИМУЩЕСТВА

.advantages {
  margin-top: 100px;
  h2{
    text-align: center;
  }
}

.advantages-items {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  grid-column-gap: 75px;
  grid-row-gap: 20px;
  margin-top: 50px;
}

.advantages-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 10px;
}

// РАЗДЕЛ ЛИЦЕНЗИЯ 
.license {
  margin-top: 100px;
  h2 {
    text-align: center;
  }
}

.license-items {
  display: flex;
  margin-top: 50px;
}

.license-img img{
  max-width: 530px;
  max-height: 600px;
  border-radius: 20px;
}

.license-block {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    margin-top: 30px;
    line-height: 160%;
    &:after{
      content: "";
      display: block;
      width: 730px;
      height: 5px;
      background: #B0A9F5;
      border-radius: 15px;
      margin-top: 30px;
    }
  }
}

.license-button {
  margin-top: 40px;
}


// РАЗДЕЛ КОНСУЛЬТАЦИИ 
.consultation {
  margin-top: 100px;
  h2 {
    text-align: center;
  }
}

.consultation-items {
  margin-top: 50px;
  display: grid;
  gap: 30px 20px;
  /* ! */
  grid-template-columns: repeat(2, 530px);
  grid-template-rows: 60px 60px 240px;
  grid-template-areas: "a b" "c d" "e e";
  justify-content: center;
}

.consultation-form {
  display: flex;
  align-items: center;
  padding: 0 24px;
  background: #FFFFFF;
  border-radius: 200px;
  label {
    height: 32px;
  }
  input {
    border: none;
    padding: 14px;
    width: 100%;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}

.consultation-comment {
  border-radius: 20px;
  padding: 20px 25px;
  align-items: unset;
  textarea {
    padding: 10px;
    border-radius: 0;
    resize: none;
    border: none;
    outline: none;
  }
  label {
    margin-top: 5px;
  }
}

.consultation-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  input {
    background: none;
    border: none;
    cursor: pointer;
  }
  .button:hover input {
    color: #FFFFFF;
    transition: all .5s;
  }
}

// АККАРДИОН

.customselect {
  display: flex;
  align-items: center;
  padding: 0 24px;
  background: #FFFFFF;
  border-radius: 200px;
  position: relative;
  border: 1px solid #0e0e0f;
  z-index: 5;
  img {
    z-index: 1;
  }
}

.customselect .title {
  border: none;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
  line-height: 23px;
  cursor: pointer;
  text-align: left;
  z-index: 1;
  font-size: 18px;
  color: #858585;
}

.customselect li {
  margin: 25px 30px 0 41px;
  cursor: pointer;
  &:first-child {
    margin-top: 0;
  }
}

.customselect li:hover {
  color: #7064FB;
}

.customselect ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 0;
  background: white;
  width: 100%;
  box-sizing: border-box;
  top: 35px;
  left: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 0px 0px 30px 30px;
}

.customselect.open ul {
  display: block;
}



// FOOTER

.footer {
  background: #B0A9F5;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 19px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: #fff;
}

// Карта сайта 

.footer-map-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  a {
    color: #fff;
  }
}

// Контакты
.footer-contacts-number {
  margin-top: 25px;
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  a {
    color: #fff;
  }
}

.footer-contacts-email {
  margin-top: 20px;
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  a {
    color: #fff;
  }
}

// Соц. сети

.footer-social-items {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  a {
    color: #fff;
  }
  img {
    margin-right: 15px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  color: #fff;
  position: relative;
  &:before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 5px;
      background: #fff;
      border-radius: 20px;
      top: -20px;
    }
}