header {
  margin-top: 30px;
}

.wrapper {
  position: relative;
}


.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  position: relative;
  z-index: 10;
}

// Кнопка с желтым фоном

.button {
  background: #EEF5A9;;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);    
  border-radius: 200px;
  display: inline-block;
  padding: 14px 28px 13px 28px;
  color: #000;
  transition: all .5s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #796CF9;
    transition: all .5s;
    border-radius: 200px;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

// Поиск
.search-relative {
  position: relative;
}

.search {
  z-index: 10;
  input{
    background: #FFFFFF;
    border-radius: 200px;
    padding: 15px 25px 12px ;
    border: none;
    width: 340px;
    height: 50px;
  }
  svg {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 32px;
    height: 32px;
  }
}

// Кнопка переключения языка
.lang {
  z-index: 10;
  a {
  background: #FFFFFF;
  border-radius: 100px;
  padding: 14px 12px 13px 13px;
  color: #796CF9;
  
  }
}

// Кнопка Бургер меню



.ham6 {
  background: #FFFFFF;
  border-radius: 100px;
  cursor: pointer;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
}

.ham6 path {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #796CF9;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}

.ham6 .middle {
  stroke-dasharray: 40 111;
}

.ham6 .bottom {
  stroke-dasharray: 40 172;
}

.ham6.active .top {
  stroke-dashoffset: -132px;
}

.ham6.active .middle {
  stroke-dashoffset: -71px;
}

.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

// Выпадающее меню

.menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.menubox {
  position: absolute;
  display: block;
  visibility: hidden;
  left: 0;
  top: -100%;
  width: 100%;
  height: auto;
  height: auto;
  margin: 0;
  padding: 80px 70px;
  list-style: none;
  background-color: #F6F3F8;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu-item {
  margin-top: 30px;
  display: block;
  color: #333;
  text-decoration: none;
  transition-duration: .25s;
}

#menu-toggle {
  opacity: 0;
  position: absolute;
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  top: -30px;
}

// Контент Меню
.menu-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.menu-content-service {
  padding: 40px;
  background: #FFFFFF;
  border-radius: 20px;
}

.menu-content-middle {
  &:first-child {
    margin-top: 0;
  }
  padding: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-top: 21px;
} 