*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Onest';
}

.wrapper {
  max-width: 1440px;
  padding: 0 70px 0 70px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 480px;
    padding: 0 25px;
    margin: 0 auto;
  }
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
	background: #F6F3F8;
  scroll-behavior: smooth;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

::-webkit-scrollbar-track {
	background-color: #E7E7E7; /*Цвет скролла*/
} 
::-webkit-scrollbar-thumb { 
	border-radius: 5px; /*Закругление ползунка*/
	background-color: #7064FB;; /*Цвет ползунка*/
  height: 191px;

} 
::-webkit-scrollbar { 
	width: 6px;  /*Толщина скролла*/

}

* {
	scrollbar-color: #E7E7E7 #7064FB; /*Цвет скролла, цвет ползунка*/
	scrollbar-width: 6px; /*Толщина скролла thin, auto*/
}

ul {
  list-style: none;
  padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

.dis-block {
  display: block!important;
}

.fs-12-400 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.fs-14-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.fs-16-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
} 

.fs-18-500 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.fs-18-400 {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.fs-18-600 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}

.fs-22-500 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

.fs-28-500 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.fs-30-400 {
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
}

.fs-34-500 {
  font-weight: 500;
  font-size: 34px;
  line-height: 43px;
}

.fs-43-500 {
  font-weight: 500;
  font-size: 43px;
  line-height: 55px;
}

.fs-54-500 {
  font-weight: 500;
  font-size: 54px;
  line-height: 69px;
}

input {
  outline: none;
}