<footer class="footer">
  <div class="wrapper">
    <div class="logo-footer">
      <a href="/">
        <svg>
          <use xlink:href="img/sprite.svg#sprite--footer-logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer-items">
      <div class="footer-site-map">
        <h4 class="fs-28-500">Карта сайта</h4>
        <div class="footer-map-links">
          <a class="fs-18-500" href="#">Лицензии</a>
          <a class="fs-18-500" href="#">Политика конфиденциальности</a>
          <a class="fs-18-500" href="#">Галерея работ</a>
        </div>
      </div>
      <div class="footer-contacts">
        <h4 class="fs-28-500">Контакты</h4>
        <div class="footer-contacts-number">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--footer-tel"></use>
          </svg>
          <a class="fs-18-500" href="tel:+7(999)-123-24-23">+7(999)-123-24-23</a>
        </div>
        <div class="footer-contacts-email">
          <svg>
            <use xlink:href="img/sprite.svg#sprite--footer-email"></use>
          </svg>
          <a class="fs-18-500" href="mailto:Pochta@mail.com">Pochta</a>
        </div>
      </div>
      <div class="footer-social">
        <h4 class="fs-28-500">Соц. сети</h4>
        <div class="footer-social-items">
          <div class="vkontakte">
            <a class="flex-center fs-18-500" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--social_vk"></use>
            </svg>
              VKontakte
            </a>
          </div>
          <div class="telegram">
            <a class="flex-center fs-18-500" href="#">
              <svg>
                <use xlink:href="img/sprite.svg#sprite--social_tg"></use>
              </svg>
              Telegram
            </a>
          </div>
          <div class="odnok">
            <a class="flex-center fs-18-500" href="#">
              <svg>
                <use xlink:href="img/sprite.svg#sprite--social_odn"></use>
              </svg>
              Odnoklasniki
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <h2 class="fs-16-400">2023 “Пластическая хирургия”</h2>
      <p class="fs-16-400">Design Maxim Kutukov</p>
    </div>
  </div>
</footer>
