<footer class="footer">
  <div class="wrapper">
    <div class="logo-footer">
      <img src="img/logo-footer.svg" alt="#">
    </div>
    <div class="footer-items">
      <div class="footer-site-map">
        <h4 class="fs-28-500">Карта сайта</h4>
        <div class="footer-map-links">
          <a class="fs-18-500" href="#">Лицензии</a>
          <a class="fs-18-500" href="#">Политика конфиденциальности</a>
          <a class="fs-18-500" href="#">Галерея работ</a>
        </div>
      </div>
      <div class="footer-contacts">
        <h4 class="fs-28-500">Контакты</h4>
        <div class="footer-contacts-number">
          <img src="img/footer-tel.svg" alt="#">
          <a class="fs-18-500" href="tel:+7(999)-123-24-23">+7(999)-123-24-23</a>
        </div>
        <div class="footer-contacts-email">
          <img src="img/footer-email.svg" alt="#">
          <a class="fs-18-500" href="mailto:Pochta@mail.com">Pochta</a>
        </div>
      </div>
      <div class="footer-social">
        <h4 class="fs-28-500">Соц. цети</h4>
        <div class="footer-social-items">
          <div class="vkontakte">
            <a class="flex-center fs-18-500" href="#">
            <img src="img/footer-vk.svg" alt="">
              VKontakte
            </a>
          </div>
          <div class="telegram">
            <a class="flex-center fs-18-500" href="#">
            <img src="img/footer-telegram.svg" alt="">
              Telegram
            </a>
          </div>
          <div class="odnok">
            <a class="flex-center fs-18-500" href="#">
            <img src="img/footer-odnok.svg" alt="">
              Odnoklasniki
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <h2 class="fs-16-400">2023 “Пластическая хирургия”</h2>
      <p class="fs-16-400">Design Maxim Kutukov</p>
    </div>
  </div>
</footer>
