<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">
	<meta name="description"
				content="@@description">
	<meta name="keywords"
				content="@@keywords">
	<link rel="shortcut icon"
				href="@@favicon.svg"
				type="image/svg+xml">
	<link rel="shortcut icon"
				href="@@favicon.webp"
				type="image/webp">
	<link rel="shortcut icon"
				href="@@favicon.png"
				type="image/x-icon">
	<link rel="stylesheet"
				href="css/libs.min.css">
	<link rel="stylesheet"
				href="css/style.min.css">
	<title>Kazancev / Пластическая хирургия</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Описание страницы">
	<meta name="robots" content="index,follow" />
	<meta name="keywords" content="ключ 1, ключ 2, ключ 3…" />
</head>
